@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
/********************************** 
* Design by:  CJ Myerov
* Design name:  [your design name]
* 
* License: [license name - e.g. MIT if you want to let others
* use the design with attribution, or All Rights Reserved if you
* don't want others to use the design]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

/* Starter code -- feel free to delete */

/* Typography */

/* Get your own import URL from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

.page-wrapper {
  /* Main font */
  font-family: "Story Script";
  color:rgb(255, 0, 0);
  font-size: small;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Header font */
  font-family: "Kablammo", system-ui;
}

/* Background */
#css-zen-garden {
  background: url(PurpleBrain.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: black;
}
/* Page wrapper */
.page-wrapper {
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  margin: 0 auto;
}

h2,h3,h4 {
  padding-left: 35%;
  /* zeroing out vertical space -- it gets positioned
  with negative margin on .summary */
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.summary {
  background: url(thought_bubble.svg);
  width: 800px;
  height: 450px;
  padding-top: 9%;
  padding-bottom: 8%;
  padding-left: 16%;
  padding-right: 8%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Negative margin so the heading above is in the bubble*/
  margin-top: -35px;
}

.preamble {
  background: url(thought_bubble.svg);
  width: 800px;
  height: 450px;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 17%;
  padding-right: 9%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -45px;
}

.preamble h3{
  position: absolute;
    top: 496px;
    left: calc(50% - 135px);
    padding: 0;
    width: 200px;
    text-align: center;
}

.explanation {
  background: url(thought_bubble.svg);
  width: 800px;
  height: 450px;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 17%;
  padding-right: 11%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -45px;
}

.explanation h3 {
  position: absolute;
    top: 900px;
    left: calc(50% - 135px);
    padding: 0;
    width: 181px;
    text-align: center;
}

.participation {
  background: url(thought_bubble.svg);
  width: 800px;
  height: 450px;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 17%;
  padding-right: 11%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -45px;
  font-size: x-large;
}

.participation h3 {
  position: absolute;
    top: 1305px;
    left: calc(50% - 160px);
    padding: 0;
    width: 275px;
    text-align: center;
}

.requirements {
  background: url(thought_bubble.svg);
  width: 800px;
  height: 450px;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 20%;
  padding-right: 11%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -45px;
}

.requirements h3 {
  position: absolute;
    top: 1705px;
    left: calc(50% - 135px);
    padding: 0;
    width: 181px;
    text-align: center;
}

.design-selection {
  background: url(thought_bubble.svg);
  width: 800px;
  height: 450px;
  padding-top: 6.5%;
  padding-bottom: 8%;
  padding-left: 17%;
  padding-right: 11%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -45px;
  font-size: x-large;
}

.design-selection h3 {
  position: absolute;
    top: 2115px;
    left: calc(50% - 135px);
    padding: 0;
    width: 220px;
    text-align: center;
}

.design-archives {
  background: url(thought_bubble.svg);
  width: 800px;
  height: 450px;
  padding-top: 6.5%;
  padding-bottom: 8%;
  padding-left: 17%;
  padding-right: 11%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -45px;
  font-size: xx-large;
}

.design-archives h3 {
  position: absolute;
    top: 2515px;
    left: calc(50% - 135px);
    padding: 0;
    width: 190px;
    text-align: center;
}

.zen-resources {
  background: url(thought_bubble.svg);
  width: 800px;
  height: 450px;
  padding-top: 6.5%;
  padding-bottom: 8%;
  padding-left: 17%;
  padding-right: 11%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -45px;
  font-size: large;
}

.zen-resources h3 {
  position: absolute;
    top: 2925px;
    left: calc(50% - 135px);
    padding: 0;
    width: 190px;
    text-align: center;
}